 @model List<Event>
   <!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>event</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Event Start -->
<div class="event-area three text-center pt-150 pb-150">
    <div class="container">
        <div class="row">
            @foreach (var eventitem in Model)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-event mb-60">
                        <div class="event-img">
                            <a asp-action="detail" asp-route-id="@eventitem.Id">
                                <img src="~/admin/assets/img/event/@eventitem.ImageUrl" alt="event">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                            <div class="event-date">
                                <h3>@eventitem.StartTime.Day<span>/ @eventitem.StartTime.Month</span></h3>
                            </div>
                        </div>
                        <div class="event-content text-left">
                            <h4><a asp-action="detail" asp-route-id="@eventitem.Id" >@eventitem.Title</a></h4>
                            <ul>
                                <li><span>time:</span> @eventitem.StartTime.TimeOfDay.Hours  PM-@eventitem.EndTime.TimeOfDay.Hours PM</li>
                                <li><span>venue</span> @eventitem.Location</li>
                            </ul>
                            <div class="event-content-right">
                                <a class="default-btn" asp-action="detail" asp-route-id="@eventitem.Id">join now</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
                    
        </div>
    </div>
</div>
<!-- Event End -->
@await Component.InvokeAsync("Subscribe");